<particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles>
<ul>
	<li *ngFor="let test of card_list">
	<div class="card">
	
	
		<div class = "up">
			<div class = "photo">
				<img src = "../../assets/img/person/{{test.photo_src}}"/>
			</div>
		</div>
		
		
		
		<div class = "middle">
		
			<div class = "pastille">
			</div>
	
			<div class = "name">
				{{test.name}}
			</div>
			
		</div>
		
		
		
		<div class = "down">
		</div>
		
		
	</div>
	<li>
	
	
	
<ul>